#boards {
  border-radius: 10px;
  background: #63ace5;
  color: #e7eff6;

}

.column  {
  float: left;
  width: 30%;
  text-align: center;
  color: #e7eff6;
  border-color: #e7eff6;
  border: 2px solid;
  margin-bottom: 10px;
  border-radius: 10px;

}

.line {

  background-color: #e7eff6;
  color: #63ace5;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.line:hover {

  background: #d0e1f9;
  color: #8b9dc3;
}


.row {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  justify-content: space-between;
}

.board-list {

  border-radius: 10px;
  background: #e7eff6;
  border: #000000 3px;
  margin-bottom: 8px;
  color: #63ace5;
}

.board-list:hover {

  background: #d0e1f9;
  color: #8b9dc3;
}